* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img, picture {
    display: block;
    max-width: 100%;
}




body {
    padding: 10% 10%;
}

#main-container {
    max-width: 375px;
}

#top-side {
    margin-bottom: 25px;
}

#bottom-title {
    margin-bottom: 18px;
}

#bottom-comment {
    margin-bottom: 20px;
}

#bottom-coin-container {
    display: flex;
    column-gap: 5px;
    margin-bottom: 15px;
}

#time-container {
    margin-left: auto;
    column-gap: 5px;
    display: flex;
}

#line-container {
    margin-bottom: 18px;    
}

#bottom-credits-container {
    display: flex;
    column-gap: 8px;
    align-items: center;
}





body {
    font-family: 'Outfit', sans-serif;
    background-color: #0d192b;
}

#main-container{
    padding: 28px;
    border-radius: 15px;
    background-color: #14253d;
}

#top-side {
    border-radius: 10px;
    overflow: hidden;
}

#bottom-title {
    font-size: 20px;
    font-weight: 600;
    color: #ffff;
}

#bottom-comment {
    font-size: 16px;
    font-weight: 300;
    color: #8bacda;
    opacity: 0.6;
}

#price-container {
    font-size: 16px;
    font-weight: 600;
    color: #00fff7;
}

#time-container {
    font-size: 18px;
    font-weight: 400;
    color: #8bacda;
}

#line-container hr {
    border: none;
    height: 1px;
    background-color: #8bacda; 
}

#photo-container img {
    width: 35px;
    height: 35px;
    border: 1px solid #ffff;
    border-radius: 50%;
}

#credits-of {
    font-size: 15px;
    font-weight: 400;
    color: #8bacda;
}

#author-name {
    font-size: 15px;
    font-weight: 400;
    color: #ffff;
}




@media (min-width: 576px) {
    #main-container {
        max-width: 570px;
    }
}




